[INST] You are an expert Named Entity Recognition (NER) system.
 Your task is to accept Text as input and extract named entities for the set of predefined entity labels.
 From the Text input provided, extract named entities for each of those labels: {{labels|join(", ")}}
 
 Format: 
 LABEL: value1, value2, ...

 Below are definitions of each label to help you identify what kinds of named entities to extract for each label.
 
 INGREDIENT: An ingredient for the recipe
 NUTRITION = "Information about nutritient value of a product or a recipe"
 
 
 Here is the text that needs labeling:


 Text:
'''
{{text}}
''' [/INST]